body {
  font-family: sans-serif;
  line-height: 1.5;
}

.ProseMirror {
  padding: 16px;
}

.ProseMirror-selectednode {
  outline: 2px solid #9cf;
}

.Image {
  width: 100%;
  height: 48px;
  background-color: #fee;
}

.test-deco {
  background-color: pink;
  /* margin: 0 1px; */
  padding: 20px;
  display: inline;
}

.test-deco-inline {
  display: inline;
  line-height: 1.5;
}

.test-deco-inline-block {
  display: inline-block;
}

.test-mark {
  background-color: powderblue;
}

.ProseMirror {
  font-size: 24px;
}

.debug {
  font-size: 12px;
  margin-bottom: 60px;
}
